<body>
    <h1>Admin Dashboard</h1>
    <div class="button-container" *ngIf="bButton === true">
        <div class="user-card">
            <img src="event admin.jpg" class="card-img">
            <div class="card-footer">
                <button class="btn btn-success" (click)="goToEventAdminPage()">Manage Events</button>
            </div>
        </div>

        <div class="user-card">

            <img src="user admin.jpg" class="card-img">
            <div class="card-footer">
                <button class="btn btn-primary" (click)="goToUserAdminPage()"> Manage Users</button>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>


</body>